<div class="container" [ngClass]="currentTheme">
  <div class="wrapper">
    <!--Top app-->
    <div class="top-container">
      <span class="app-name text">calc</span>
      <span class="theme">
        <span class="text">THEME</span>
        <span class="btn-container key-container" [ngClass]="currentTheme">
          <span class="btn"></span>
          <ul class="text">
            <li (click)="selectTheme('theme1')">1</li>
            <li (click)="selectTheme('theme2')">2</li>
            <li (click)="selectTheme('theme3')">3</li>
          </ul>
        </span>
      </span>
    </div>
    <!--Input container-->
    <div class="input-container screen">
      <span id="input" class="text">0</span>
    </div>
    <div class="keys-container key-container">
      <ul class="top-keys">
        <li class="item key" (click)="onKeyClick('7')">7</li>
        <li class="item key" (click)="onKeyClick('8')">8</li>
        <li class="item key" (click)="onKeyClick('9')">9</li>
        <li class="item key key--different" (click)="deleteLastChar()">DEL</li>
        <li class="item key" (click)="onKeyClick('4')">4</li>
        <li class="item key" (click)="onKeyClick('5')">5</li>
        <li class="item key" (click)="onKeyClick('6')">6</li>
        <li class="item key" (click)="onKeyClick('+')">+</li>
        <li class="item key" (click)="onKeyClick('1')">1</li>
        <li class="item key" (click)="onKeyClick('2')">2</li>
        <li class="item key" (click)="onKeyClick('3')">3</li>
        <li class="item key" (click)="onKeyClick('-')">-</li>
        <li class="item key" (click)="onKeyClick('.')">.</li>
        <li class="item key" (click)="onKeyClick('0')">0</li>
        <li class="item key" (click)="onKeyClick('/')">/</li>
        <li class="item key" (click)="onKeyClick('*')">x</li>
      </ul>
      <ul class="bottom-keys">
        <li class="item key key--different" (click)="onClear()">RESET</li>
        <li class="item key key--different-plus" (click)="calculator()">=</li>
      </ul>
    </div>
  </div>
</div>
